.container {
  min-height: 100vh;
}

/* SIDEBAR FIXE */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;

  width: 340px;
  height: 100vh;

  padding: 20px 30px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}
.lngDiv {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.lngBtn {
  text-decoration: none;
}
.lngBtnOff {
  color: var(--off) !important;
}
.lngBtn:hover {
  cursor: pointer;
}
.lngBtn:visited {
  color: var(--foreground);
}

.title {
  font: var(--font-title);
  font-weight: 500;
  font-size: 2em;
}
.paradoxes {
  font-style: italic;
  font-weight: 400;
  color: #494949;
}

.hero {
  font: var(--font-sans);
  font-weight: 200;
  font-size: 1.5em;
  margin-top: 0px;
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navbar a {
  color: var(--off) !important;
  transition: color 0.5s;
  text-decoration: none;
}

.navbar a.active {
  color: var(--foreground) !important;
}

.navbar circle.active {
  stroke: var(--foreground) !important;
  fill: var(--foreground) !important;
}

.navsection {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
}

.svg {
  height: 20px;
  width: 20px;
}
.svg circle {
  stroke: var(--off);
  fill: transparent;
  transition:
    fill 0.5s,
    stroke 0.5s;
}
/* CONTENU */

.content {
  margin-left: 380px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box {
  padding: 20px;
  min-height: 2000px;
  border-radius: 20px;
  background-color: #ffffff;
  display: flex;
  gap: 0px;
  flex-direction: column;
}

.boxtitle {
  font-weight: 500;
  margin-bottom: 10px;
}
.boxsubtitle {
  font-weight: 200;
}
@media (max-width: 900px) {
  .hero {
    text-align: center;
  }
  .sidebar {
    position: static;
    width: calc(100% - 40px);
    height: auto;
    border-right: none;
    align-items: center;
  }

  .content {
    margin-left: 0;
  }

  .navbar {
    margin-left: 0;
    flex-direction: row;
    position: sticky;
    top: 0; /* sticks to top when scrolling */
    margin-top: auto; /* starts at bottom of sidebar */
    top: 0;
  }
}
